.auction_info
  %dl
    %dt= t('auctions.title')
    %dd= @auction.title

    %dt= t('auctions.minimum_price')
    %dd= @auction.minimum_price

    %dt= t('auctions.user')
    %dd= @auction.user.email

  .auction_actions
    .big_button= link_to t('auctions.relancer'), "#"
    %p
      = t('auctions.actual_price')
      \:
      = @auction.actual_price
      zł

  .clear


#auction_description
  %hr
  %p= @auction.description.html_safe
  %hr

.button= link_to t('back'), auctions_path
