- unless user_signed_in?
  %ul
    %li= link_to t('devise.navigation.sign_up'), new_user_registration_path
    %li= link_to t('devise.navigation.sign_in'), new_user_session_path
- else
  %ul
    %li= link_to t('devise.navigation.sign_out'), destroy_user_session_path, method: :delete
    %li= link_to t('devise.navigation.edit'), edit_user_registration_path
    %li= link_to t('users.dashboard'), users_dashboard_path
    %li
      = t('devise.navigation.hello')
      = current_user.email
