%p
  = t('devise.mailer.reset_password_instructions.welcome')
  = @resource.email
  !

%p
  = t('devise.mailer.reset_password_instructions.body1')

%p
  = link_to t('devise.mailer.reset_password_instructions.link'), edit_user_password_url(I18n.locale, reset_password_token: @resource.reset_password_token)

%p
  = t('devise.mailer.reset_password_instructions.body2')

%p
  = t('devise.mailer.reset_password_instructions.body3')
